header nav {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--red-background);
}

nav ul {
  display: flex;
  background-color: var(--red-background);
}

nav li {
  width: 110px;
  background-color: var(--red-background);
}

.nav-link {
  color: var(--highlighted-text);
  background-color: var(--background-color);
  border-radius: 10px;
  transition: 0.3s;
}

.loggin-btn {
  background-color: var(--background-color);
  border-radius: 10px;
  width: 50px;
  transition: 0.3s;
}

.loggin-btn:hover {
  opacity: 1;
  scale: 1.1;
}
